.formoptionsactive{
    text-decoration: underline;
}
.navbuttons {
  background: #2EE59D;
  color: white;
  width: inherit;
  padding: 0.2em;
  box-sizing: border-box;
  font-size: 15px;
}
.navbuttons:hover{
  box-shadow: 5px 5px 5px rgba(46, 229, 157, 0.4);
}
.divpreview{
  transform: scale(.5);
  font-size: 0.6rem;
  transform-origin: 50% 3%;
  margin-bottom: calc((0.6 - 1) * 100%);
}
.colorWhite{
color: white;
}
.switchlabel {
	width: 50px;
	height: 25px;
  box-shadow: 0px 15px 20px rgba(251, 113, 133 , 0.4);
  }

.switchlabel:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 19px;
	height: 19px;
	background: #fff;
	border-radius: 19px;
	transition: 0.3s;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.switchcheckbox:checked + .switchlabel {
	background: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.switchcheckbox:checked + .switchlabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switchlabel:active:after {
	width: 13px;
}
.questionpage{
  height: 85%;
  width: 90%;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  background: #2EE59D;
}
.questionpagepreview{
  height: 100vh;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  background: rgba(46, 229, 157, 0.6);
}
textarea:focus, input:focus{
  outline: none;
}
.inputBorder {
  border:1px solid #2EE59D;

}
input, textarea{
  outline: #2EE59D ;
  color: #7e7c7e !important;
  padding: 5px 10px !important;
  background: none;
}
input::placeholder,textarea::placeholder{
    color: #484349;
}

select {
  outline: #2EE59D ;
  border:1px solid #2EE59D;
  background: #2EE59D;
  color: white !important;
}

.questionInput{
  border-bottom: 2px solid white;
}
.questionTextinput{
  border: 2px solid white;
}
.fileinput{
  border: 2px solid white;
}
.hidescroll {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.hidescroll::-webkit-scrollbar { 
  display: none;
}