/* :root {
  --primary: ;
  --secondary: black;
  --ternary: lightgray;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body,
html {
  padding: 0;
  margin: 0;  
  font-family: 'Poppins', sans-serif;
}

.formoptionsactive{
    color: var(--ternary);
    text-decoration: underline;
}
.navbuttons {
  background: #2EE59D;
  color: white;
  width: 140px;
  box-sizing: border-box;
  font-size: 15px;
}
.navbuttons:hover{
  box-shadow: 5px 5px 5px rgba(46, 229, 157, 0.4);
}
.border{
  border: 1px solid #484349;
}
.borderTop{
  border-top: 1px solid #484349;
}
.borderBottom{
  border-bottom: 1px solid #484349;
}
.borderLeft{
  border-left: 1px solid #484349;
}
.borderRight{
  border-right: 1px solid #484349;
}
.divpreview{
  transform-origin: 50% 3%;
}

.switchlabel {
	width: 50px;
	height: 25px;
  }

.switchlabel:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 19px;
	height: 19px;
	background: #fff;
	border-radius: 19px;
	transition: 0.3s;
}

.switchcheckbox:checked + .switchlabel {
	background: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.switchcheckbox:checked + .switchlabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switchlabel:active:after {
	width: 13px;
}
.questionpage{
  height: 550px;
  width: 800px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  background: #2EE59D;
}
.questionpagepreview{
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  background: #2EE59D;
}

input, textarea{
  outline: #2EE59D ;
  border:2px solid #2EE59D;
  background: #2EE59D;
  color: white;
}
input::placeholder,textarea::placeholder{
    color: #484349;

}